#container {
    width: 100%;
    position: relative;
}

#content {
    max-width: 1100px;
    height: 5000px;
    background: aquamarine;

}

#container > #content {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.webtoon-list {
    width: 155px;
    height: 200px;
    background-color: yellow;
    border-radius: 7px;
    box-shadow: black;
    padding: 7px;


}

.webtoon-list > img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}