<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/jh_webtoonList.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>웹툰 리스트 크롤링</title>
</head>
<body>
    <div id="webtoons-container">
        <div id="webtoons-content">
            <section id="webtoons">
                <ul id="webtoons-list">
                </ul>
            </section>
        </div>
    </div>
</body>
</html>