<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/jh_webtoonList.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>웹툰 리스트 크롤링</title>
</head>
<body>
    <div id="container">
        <div id="content">
            <section id="webtoons">
                <ul>
                    <li>
                        <a href="#">
                            <section class="webtoon-list">
                                <img src="https://shared-comic.pstatic.net/thumb/webtoon/781339/thumbnail/thumbnail_IMAG04_8178c11a-615c-4e89-bdad-685a5ea56b28.jpg" alt="웹툰 이미지">
                                <h6>제목</h6>
                                <p>저자</p>
                            </section>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="webtoon-list">
                                <img src="https://shared-comic.pstatic.net/thumb/webtoon/781339/thumbnail/thumbnail_IMAG04_8178c11a-615c-4e89-bdad-685a5ea56b28.jpg" alt="웹툰 이미지">
                                <h6>제목</h6>
                                <p>저자</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="webtoon-list">
                                <img src="https://shared-comic.pstatic.net/thumb/webtoon/781339/thumbnail/thumbnail_IMAG04_8178c11a-615c-4e89-bdad-685a5ea56b28.jpg" alt="웹툰 이미지">
                                <h6>제목</h6>
                                <p>저자</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="webtoon-list">
                                <img src="https://shared-comic.pstatic.net/thumb/webtoon/781339/thumbnail/thumbnail_IMAG04_8178c11a-615c-4e89-bdad-685a5ea56b28.jpg" alt="웹툰 이미지">
                                <h6>제목</h6>
                                <p>저자</p>
                            </div>
                        </a>
                    </li>
                </ul>

            </section>
        </div>
    </div>
</body>
</html>